.box {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	height: 150px;
	position: relative;
	margin-top: 10px;
}

#p1WinsLosses {
	position: absolute;
	bottom: 0;
}

#p2WinsLosses {
	position: absolute;
	bottom: 0;
}

#chatbox {
	margin-top: 50px;
	border-color: :black;
	border-style: solid;
	border-width: 1px;
}

#chatSend {
	width: 10%;
}

#chatMessage {
	width: 89%;
}